
.projects-container {
    text-align: center;
    margin: 0 auto;
    padding: 50px 10px; 
    height: auto;
    max-width: 1200px; 
    margin-top: 80px; 
}


.projects-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.2;
}

.night-mode .projects-container h1{
    color: white;
}


.projects-grid {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch; 
}


.project-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}
.night-mode .project-card{
    background-color:rgb(57, 54, 54);
  box-shadow: 0 4px 4px  #1b1a1a;

}

.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


.project-image {
    height: 300px !important; 
    width: 300px; 
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px; 
}


.project-card h2 {
    font-size: 1.4rem;
    margin: 10px 0 8px;
    color: #333;
}

.night-mode .project-card h2{
color: white;
}


.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    box-sizing: border-box;
}

.tech-chip {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    /* cursor: pointer; */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* .tech-chip:hover {
    background-color: #ff6600;
    color: white;
} */


.short-description {
    font-size: 0.95rem;
    color: #777;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.4;
    margin-bottom: 10px; 
}


.night-mode .short-description{
    color: #888888;
}



.project-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 10px; 
    padding: 10px 0; 
    box-sizing: border-box;
}

.icon-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}
.icon-github-icon{
    color: inherit;
    font-size: 25px;
}
.night-mode .icon-github-icon{
    color: white;
    font-size: 25px;
}

.night-mode .icon-github-icon:hover{
    color: #ff6600;
}
.icon-deployment-icon{
    color: inherit;
    font-size: 25px;
}
.night-mode .icon-deployment-icon{
    color: white;
    font-size: 25px;
}

.night-mode .icon-deployment-icon:hover{
    color: #ff6600;
}

.icon-status-completed-icon{
    color: inherit;
    font-size: 25px;
}
.night-mode .icon-status-completed-icon{
    color: white;
    font-size: 25px;
}

.night-mode .icon-status-completed-icon:hover{
    color: #ff6600;
}

.status-progress-icon{
    color: inherit;
    font-size: 25px;
}
.night-mode .status-progress-icon{
    color: white;
    font-size: 25px;
}

.night-mode .status-progress-icon:hover{
    color: #ff6600;
}

.icon {
    font-size: 1.5rem; 
    color: #333;
}

.icon:hover {
    color: #ff6600; 
}




@media (max-width: 768px) {
    .projects-container h1 {
        font-size: 2rem; 
        margin-top: -10px;
    }

    .projects-grid {
        margin-top: 30px;
        gap: 15px;
    }

    .project-card {
        max-width: 350px;
        width: 100%;
    }

    .project-image {
        height: 150px;
    }

    .short-description {
        font-size: 0.85rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .projects-container h1 {
        font-size: 2.2rem; 
        margin-bottom: 40px;
    }

    .projects-grid {
        gap: 20px;
    }

    .project-card {
        max-width: 300px;
    }

    .project-image {
        height: 180px; 
    }

    .short-description {
        font-size: 0.9rem;
    }
}

@media (min-width: 1025px) {
    .projects-container h1 {
        font-size: 2.5rem;
    }

    .projects-grid {
        gap: 30px;
    }

    .project-card {
        max-width: 350px;
    }

    .project-image {
        height: 200px; 
    }

    .short-description {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {

    .projects-container h1 {
        font-size: 1.5rem;
    }
}